#main-page {
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
}

#desktop-parent {
  align-self: center;
  width: 80%;
  height: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
}

#top-logo-bar {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
}

#desktop-logo {
  height: 100%;
}
#no-song-msg {
  font-size: 1rem;
  text-align: center;
  color: #ccc;
  margin: 50px 0 50px 0;
}

#desktop-songs-header {
  color: rgb(116, 116, 116);
  margin: 0;
  text-align: center;
}

#bottom-part {
  display: flex;
  width: 100%;
  height: 400px;
  justify-content: space-around;
}

#desktop-list-container {
  width: 80%;
  height: 100%;
  background-color: #222;
  border-radius: 1rem;
}
