#desktop-footer {
  width: 20%;
  height: 100%;
  background-color: #222;
}
#desktop-footer ul {
  list-style-type: none;
}
#desktop-footer li {
  color: white;
  font-size: 1.2em;
  margin-top: 15%;
  cursor: pointer;
}
#desktop-footer li:hover {
  color: #c56c86;
}
